<html ng-app="studentRoster">
	<head>
		<title></title>
		<script src="angular.js"></script>
		<script src="app.js"></script>
		<script src="StudentsController.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="styles/normalize.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">

	</head>
	<body >
		<header>
			<nav class="main-navigation-angular">
		<ul>
			<li><a href="https://www.linkedin.com/in/jon-hinson-00756464" target="_blank">linkedin</a></li>
			<li><a href="https://github.com/Hinson7886" target="_blank">Github</a></li>
			<li><a href="resume.html" target="_blank">Resume</a></li>
			<li><a href="http://hinson7886.github.io/student_directory/" target="_blank">AngularJS</a></li>
			<li><a href="http://jonhinsonfx.wix.com/jon-hinson-fx" target="_blank">3D</a></li>
		</ul>	
	</nav>
			<div class="jumbotron">
				<div class="container">
  				<h2>Student roster app made in AngularJS</h2>
					
					<p>Give it a try. You can create students,edit them by clicking the name,filter students and delete them as well.</p>
  				</div>
			</div>

		</header>
		
		<div class="container" ng-controller="StudentsCtrl">
			<div class="row" ng-show="students.length">
				<div class="col-md-12">
					<h4>Search Students</h4>
					<form class="form-inline" role="form">
						<div class="form-group">
							<input ng-model="query" type="text" class="form-control" placeholder="Search">
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 ng-show="students.length && filtered.length">Student List</h2>
					<h2 ng-show="students.length && !filtered.length">No Matches</h2>
					<ul>
						<li ng-repeat="item in filtered = (students | filter:query)">
							<span ng-click="editing = true" ng-hide="editing">
								{{ item.name }} <a ng-click="deleteStudent(item)">Delete</a>
							</span>
							<span class="form-group" ng-show="editing" ng-submit="editing = false">
								<form class="form-inline" role="form">
									<input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" reqired>
									<button type="submit" class="btn btn-default btn-sm">Save</button>
								</form>
							</span>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2>New Student</h2>
					<form ng-submit="addStudent()" class="form-inline" role="form">
						<div class="form-group">
							<input type="text" ng-model="studentName" class="form-control" placeholder="Enter name">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>


