/*----------------------------------
		NAVIGATION STYLES
----------------------------------*/



.main-navigation-angular{
	position: absolute;
	top: 20px;
	margin-left: 110px;
}

.main-navigation-angular li{
	list-style: none;
	display: inline;
	margin-right: 15px;
}

.main-navigation-angular a{
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 23px;
}

